/* 1:17:27 */
body {
  margin: 0px;
}

.game-background {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: url("stijn-swinnen-259744-unsplash.jpg") no-repeat;
  background-size: cover;
}

.game-browser {
  height: 640px;
  width: 500px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background: linear-gradient(tan, sandybrown);
}

.game-title {
  text-align: center;
}

.board-head {
  display: flex;
  flex-direction: row;
  height: 55px;
  justify-content: space-between;
  align-items: center;
}

.flag-count, .timer {
  width: 70px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  background: black;
  color: #ff0100;
  font-weight: bolder;
  font-size: 25px;
}

.reset {
  width: 55px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.board {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.cell:hover {
  background-color: lightgrey;
}

.open {
  background-color: green;
}

.mine-pic {
  background-color: red;
  background-image: url("kisspng-minesweeper-pro-classic-mine-sweeper-minesweeper-p-bomb-5ab792140a25f3.7511206815219799240416.png");
  background-size: cover;
  width: 100%;
  height: 100%;
}

.count {
  color: white;
  font-size: 20px;
  font-weight: bolder;
}

.flag {
  background-color: aquamarine;
}

.flag-pic {
  background-image: url("kisspng-red-flag-clip-art-free-flag-clipart-5aaaa05caee9f3.7794532215211316127165.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 70%;
  height: 90%;
}